@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Search, Rent and got a Car to Go!</p>
</div>

<div class="card-deck text-center">
    <div class="card shadow" style="width:400px">
        <img class="card-img-top" style="height:300px;" src="https://cdn.discordapp.com/attachments/754679426339569788/754681048776048750/17VwTRo5DrYelFR1_350.png" alt="Card image">
        <div class="card-body">
            <a class="h4 justify-content-center alert-link" asp-area="" asp-controller="Car" asp-action="Index">ALL CARS!</a>
            <p class="card-text">For carying persons around!</p>
         </div>
        
    </div>

    <div class="card shadow" style="width:400px;">
        <img class="card-img-top" style="height: 300px;" src="https://cdn.discordapp.com/attachments/754679426339569788/754963447841816606/sprinter-van.png" alt="Card image">
        <div class="card-body">
            <a class="h4 justify-content-center alert-link" asp-area="" asp-controller="#" asp-action="#">ALL VANS!</a>
            <p class="card-text">For large cargo spaces!</p>
        </div>
    </div>

    <div class="card shadow" style="width:400px;">
        <img class="card-img-top" style="height: 300px;" src="#" alt="Card image">
        <div class="card-body">
            <a class="h4 justify-content-center alert-link" asp-area="" asp-controller="#" asp-action="#">ALL SPECIAL VEHICLES!</a>
            <p class="card-text">For the heavy work!</p>
        </div>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body shadow">
        <h2 class="font-weight-bold text-center p-3">Our story and journey</h2>
        <div class="row">
            <div class="col-6 img-fluid"><img src="https://cdn.discordapp.com/attachments/754679426339569788/754981001041805352/5388649925046e7f14e61730fc9b7ccb.png" style="width:500px; height:350px;" /></div>
            <div class="col-6 font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet vestibulum nulla. Suspendisse rutrum, lacus a placerat tempus, tellus velit efficitur leo, id tincidunt leo risus eget libero. Nulla vestibulum metus non neque ullamcorper, non ornare est aliquam. Maecenas in libero nec ipsum dapibus pellentesque sed eu mauris. Quisque dapibus leo fringilla lorem pulvinar volutpat. Sed commodo, nibh in condimentum ultricies, diam felis ultrices purus, sed aliquam libero felis et ligula. Fusce porta placerat dolor a imperdiet. Suspendisse dapibus, nisl sed consequat sollicitudin, erat diam porta metus, tempor sodales felis lectus non arcu. Aliquam ullamcorper sagittis pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In laoreet accumsan lorem, vitae rhoncus nunc consequat pellentesque. In ac ligula metus. Nullam dui lorem, viverra vel aliquam sit amet, ultrices nec ante.</div>
        </div>
    </div>
</div>
<hr />
