@model ASP.NET_CORE_MVC_Car_To_Go.Models.ReservationViewModel

@{
    ViewData["Title"] = "PlaceReservation";
}

<h1 class="text-center">PlaceReservation</h1>

<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6 bg-dark text-white p-5">
        <form asp-action="PlaceReservation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              <input type ="hidden" asp-for="AspNetUsers_ID" />              
            </div>
            <div class="form-group">
                  <input type="hidden" asp-for="Car_ID"/>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-sm btn-outline-secondary text-center" asp-controller="Car" asp-action="Index">Cancel</a>
                <button class="btn btn-sm btn-warning btn-outline-dark input text-center" type="submit" asp-controller="Reservation" asp-action="PlaceReservation">Place Reservation!</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">

    </div>
</div>

<div>
    <a  asp-controller="Car" asp-action="Index">Back to </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
