<div class="container">
    <div class="card m-3 p-4">
        <h1 class="text-center">We have successfully received your reservation!</h1>
        <p class="text-center">You can pick up your rental car on the start day of your reservation</p>
        <div class="card-footer shadow">
            <div class="row">
                <div class="col-5">

                </div>
                    <div class="col-3">              
                        <button class="btn btn-warning align-self-center">@Html.ActionLink("Return to the page", "Index", "Home")</button> 
                    </div>
                <div class="col-5">

                </div>
            </div>
        </div>
        </div>
    </div>