@model IEnumerable<Car_To_Go.Models.CarViewModel>
@{ ViewData["Title"] = "Index"; }

<div class="h2 pt-3 text-center font-weight-bold">Our showroom, meet the prestigious cars!</div>
<hr />

<div class="col-container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-4 h-auto">
                <div class="card mb-4" style="width:100%">
                    <div class="card-img-top bd-placeholder-img" style="width:100%; height:225px">
                        <img class="img-fluid" style="width:auto; height:auto" src="@Html.DisplayFor(ModelItem => item.ImageLink)" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(Modelitem => item.Brandname) | @Html.DisplayFor(Modelitem => item.Modelname) </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Lees meer!", "Details", "Car", new { ID = item.ID })</button>
                            </div>
                            <small class="text-muted">Rentalprice €@Html.DisplayFor(Modelitem => item.RentalPrice)</small>
                        </div>
                    </div>

                </div>
            </div>

        }
    </div>

</div>

